
.dm-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm-menu-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm-menu-image {
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.dm-menu-dish-name {
    margin-left: 4rem;
    margin-right: 4rem;
}

.dm-menu-dish-name-container {
    width: 40%;
}

.dm-menu-dish-price {
    margin-left: 12rem;
    margin-right: 4rem;
}

.dm-menu-item-bar {
    display: flex;
}

.dm-menu-item-detail-info {
    display: flex;
    flex-direction: column;
}

.dm-menu-detail-image {
    width:  100%;
}
